*.la
*.log
*.lo
*.o
*.tar.gz
*.trs
.deps
.dirstamp
.libs
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
minesweeper-*/
minesweeper-example
minesweeper-tests
missing
stamp-h1
test-driver
